#emojis {
    display: inline-block;
    margin: 50px;
}

.emoji {
    width: 50px;
    height: 50px;
    margin: 0px 20px 0px 20px;
}

.emoji:hover {
    cursor: pointer;
}

h4 {
    display: inline-block;
    padding-right: 20px;
}

.track {
    display: inline-table;
    margin: 10px;
    background-color:#262626;
}

.track:hover {
    display: inline-table;
    margin: 10px;
    background-color:#3E3E3E;
}

.track img {
    width: 250px;
    height: 250px;
    margin-top: 10px;
}

.track p:nth-child(1) {
    font-size: 20px;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    width: 200px;
    padding-top: 10px;
        word-wrap: break-word;
    color: white;
}

.track p {
    font-size: 14px;
    line-height: 1;
    font-family: Helvetica, sans-serif;
    width: 200px;
    padding-left: 10px;
    padding-right: 5px;
    word-wrap: break-word;
    color:gray;
}